/* USER VARIABLES SECTION */

:root {
    font-size: 10px;

    --accent: #a6c774;
    --dark-gray: #303030;
    --light-gray: #8e8e8e;

    --text-color: black;
    --text-font-size: 2rem;
    --title-font-size: 3rem;
    --line-height: 1.65;
    --text-font-family: montserrat, sans-serif;
    --title-font-family: montserrat, sans-serif;
    --letter-spacing: 0.13em;

    --shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);

    --logo-height: 120px;
    --decor-line-height: 6px;
    --header-height: calc(var(--logo-height) + var(--decor-line-height));
    --radius: 3em;

    --transition: 0.2s ease-out;
    /* --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; */
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 0.625rem;
}
.row,
.row > * {
    --bs-gutter-x: 1.25rem;
}

/* FONTS LOAD SECTION */

@font-face {
    src: url("fonts/montserrat-v23-latin_cyrillic-regular.woff2")
        format("woff2");
    font-family: "montserrat";
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url("fonts/montserrat-v23-latin_cyrillic-700.woff2") format("woff2");
    font-family: "montserrat";
    font-weight: 700;
    font-style: normal;
}

/* GENERAL CSS SETTINGS */

::placeholder {
    color: #666;
}
::selection {
    background-color: var(--accent);
    color: #fff;
}
input,
textarea {
    outline: none;
}
input:focus:required:invalid,
textarea:focus:required:invalid {
    border-color: red;
}
input:required:valid,
textarea:required:valid {
    border-color: green;
}

body {
    min-width: 320px;
    position: relative;
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
    line-height: var(--line-height);
    color: var(--text-color);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font-family);
}

ul {
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* USER STYLES */

.my-container {
    margin: 0 auto;
    padding: 0 var(--bs-gutter-x, 1.25rem);
    width: 100%;
    max-width: 1320px;
}

.decor-line {
    width: 55%;
    height: var(--decor-line-height);
    background-color: var(--accent);
}

.burger-btn {
    line-height: 1;
    font-size: 3rem;
    color: white;
    border: initial;
    background: initial;
}
.burger-btn--header {
    position: absolute;
    top: 50%;
    right: 0;
    display: none;
    transform: translateY(-50%);
}

.button {
    padding: 1em;
    display: block;
    font-weight: bold;
    color: inherit;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    border: initial;
    border-radius: var(--radius);
    background-color: var(--accent);
    box-shadow: var(--shadow);
    transition: opacity var(--transition);
}
.button:hover {
    opacity: 0.9;
    color: var(--text-color);
}
.button--light {
    font-weight: 400;
    color: white;
    background: transparent;
    border: 2px solid white;
    box-shadow: none;
    transition: background-color var(--transition);
}
.button--light:hover {
    color: white;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
}
.button--form {
    width: 100%;
    font-weight: 400;
    color: var(--text-color);
}
.button--form:hover {
    color: var(--text-color);
}

.bg-wrapper {
    background: linear-gradient(
        180deg,
        var(--dark-gray) 0%,
        var(--dark-gray) 20%,
        var(--accent) 70%,
        var(--dark-gray) 100%
    );
}

/* NAVIGATION */

.nav a {
    color: white;
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    transition: color var(--transition);
}
.nav a:hover,
.nav a:focus {
    color: var(--accent);
}
.nav a.current {
    color: var(--accent);
}
.nav--top {
    font-size: 1.7rem;
}
.nav--top ul {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav--top li + li {
    margin-left: 2em;
}

/* HEADER */

.header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: var(--dark-gray);
    border-bottom: var(--decor-line-height) solid var(--accent);
}
.header__logo {
    height: var(--logo-height);
    display: inline-block;
}
.header__logo img {
    height: 100%;
}

/* ABOUT */

.about {
    padding-top: var(--header-height);
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.about::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        linear-gradient(90.01deg, #000000 -17.83%, rgba(0, 0, 0, 0) 87.68%);
}
.about__body {
    position: relative;
}
.about__title {
    margin-bottom: 2em;
    font-size: calc(var(--title-font-size) * 1.5);
    font-weight: bold;
    color: white;
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    text-shadow: var(--shadow);
}
.about__title span {
    color: var(--accent);
}
.about__buttons .button + .button {
    margin-top: 1.8em;
}
.about__img {
    margin-left: 3em;
    height: 100%;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ABOUT-DESCRIPTION */

.about-descr {
    padding: 2em 0;
}
.about-descr__line:first-child {
    margin-bottom: 2em;
}
.about-descr__line:last-child {
    margin-top: 2em;
}
.about-descr__item {
    padding: 2em;
    background-color: white;
    border-radius: var(--radius);
}
.about-descr__item + .about-descr__item {
    margin-top: 2em;
}
.about-descr__item:nth-child(even) {
    text-align: right;
}
.about-descr__img {
    height: 100%;
    position: relative;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.about-descr__img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.about-descr__text-title {
    font-size: var(--title-font-size);
    color: var(--accent);
    font-weight: bold;
}

/* CATALOG */

.catalog {
    padding-bottom: 2em;
}
.catalog__row * {
    height: 100%;
}
.catalog__row + .catalog__row {
    margin-top: var(--bs-gutter-x);
}
.catalog__row--height-small {
    height: 250px;
}
.catalog__row--height-middle {
    height: 300px;
}
.catalog__row--height-large {
    height: 350px;
}
.catalog__item {
    padding: 2em;
    position: relative;
    display: block;
    border-radius: var(--radius);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.catalog__item:hover::before {
    background-color: rgba(0, 0, 0, 0.2);
}
.catalog__item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.7) 100%
    );
    transition: background-color var(--transition);
}
.catalog__item::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.7) 100%
    );
}
.catalog__item-title {
    position: relative;
    z-index: 1;
    font-size: calc(var(--title-font-size) / 1.5);
    color: white;
    text-align: right;
    text-transform: uppercase;
}
.catalog__button {
    margin: 2em auto 0;
    max-width: 600px;
}
.catalog__line {
    margin-top: 2em;
}

/* PARTNERS */

.partners__title {
    margin-bottom: 2em;
    padding: 0 2em;
    font-size: calc(var(--title-font-size) * 1.2);
    color: white;
    text-align: center;
}
.partners__title span {
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
}
.partners .row + .row {
    margin-top: var(--bs-gutter-x);
}
.partners__item {
    padding: 2em;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: var(--radius);
}
.partners__item:hover img {
    transform: scale(1.02);
}
.partners__item img {
    max-height: 100%;
    max-width: 100%;
    transition: transform var(--transition);
}
.partners__line {
    margin-top: 2em;
}

/* FORM */

.form__bg {
    padding: 4em 0 6em;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}
.form__content {
    max-width: 50%;
    min-width: 600px;
}
.form__title {
    margin-bottom: 1em;
    color: white;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    font-size: var(--title-font-size);
    text-transform: uppercase;
}
.form__body {
    padding: 3em 2em;
    color: rgba(255, 255, 255, 0.7);
    background-color: var(--light-gray);
    border-radius: var(--radius);
}
.form__body input::placeholder {
    color: inherit;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
}
.form__body > input,
.form__body > input,
.form__body > label {
    padding: 0.5em 1em;
    width: 100%;
    color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: var(--radius);
    background-color: transparent;
}
.form__body > label {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.form__body > input[type="file"] {
    display: none;
}
.form__body > input:focus {
    border-color: var(--accent) !important;
}
.form__body > * {
    margin-top: 1em;
}
.form__button {
    margin-top: 2em;
}
.form__privacy {
    margin: 1em auto 0;
    max-width: 500px;
    font-size: calc(var(--text-font-size) / 1.5);
    text-transform: uppercase;
    text-align: center;
}
.form__privacy span {
    color: var(--accent);
}

/* FOOTER */

.footer {
    padding: 3em 0;
    letter-spacing: var(--letter-spacing);
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    background-color: black;
}
.footer__logo {
    display: block;
}
.footer__logo img {
    margin-left: -1.1em;
    width: 300px;
}
.footer__logo-descr {
    margin-top: -1.5em;
    font-size: 1.6rem;
    line-height: 1.3;
}
.footer__soc {
    margin-top: 5em;
}
.footer__soc-link {
    display: inline-block;
    vertical-align: bottom;
}
.footer__soc-link + .footer__soc-link {
    margin-left: 0.5em;
}
.footer__soc svg {
    transition: opacity var(--transition);
}
.footer__soc svg:hover {
    opacity: 0.8;
}
.footer__soc-link--instagram svg {
    width: 50px;
    height: 50px;
}
.footer__soc-link--whatsapp svg {
    width: 50px;
    height: 42px;
}
.footer__soc-link--vk svg {
    width: 64px;
    height: 50px;
    transform: translateY(5px);
}
.footer__soc-link--youtube svg {
    width: 54px;
    height: 50px;
    transform: translateY(6px);
}
.footer__contacts-title-wrapper {
    padding-right: 1em;
    display: flex;
    align-items: center;
}
.footer__contacts-title {
    margin-left: auto;
    max-width: 280px;
    font-size: var(--title-font-size);
    text-align: center;
}
.footer__contacts-info {
    display: flex;
    align-items: center;
}
.footer__contacts-info ul {
    padding: 2em 0 2em 2em;
    border-left: var(--decor-line-height) solid var(--accent);
}
.footer__contacts-info li + li {
    margin-top: 1em;
}
